DATABASE_URL=postgresql://postgres:postgres@localhost:5433/travelmanager
PUBLIC_DOMAIN=cloud-hopper.westeurope.cloudapp.azure.com
LETSENCRYPT_EMAIL=your-email@example.com

FIREBASE_SERVICE_ACCOUNT={}
DB_HOST=localhost
DB_USER=postgres
DB_PASS=postgres
DB_NAME=travel